/*
colores: 
Negro #000000
Azul: #9BF6F1
Rojo: #FF5C5C
Blanco: #FFFFFF

fuentes: 
font-family: 'Carter One', cursive;
font-family: 'PT Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=PT+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.cabecera{
    /* background-image: url(../Multimedia/imagenes/backg.jpg); */
    background-color: rgb(27, 27, 27);
    display: block;
    position: sticky;
    top: 0;
    margin-bottom: 50px;
    z-index: 1;
} 

body{
    background-color: #ffffff; 
}

.logo{
    width: 12%;
    margin-left: 5%;
    margin-top: .5%;
    margin-bottom: .5%;
}

.main__index .ofertas p, .main__index .destacadas p, .main__index .nuevos p{
    color: #000;
}

.search{
    width: 50%;
    padding: .2%;
    margin-top: 2%;
    margin-left: 8%;
    position: absolute;
    color: #000;
}

.car{
    width: 3%;
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(263deg) brightness(104%) contrast(98%);
    margin: 3%;
    position:fixed;
    margin-left: 69%;
    display: inline-block;
}

.login{
    font-size: 120%;
    margin-left: 65%;
    margin-top: 2%;
    position: static;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
}

.menu li{
    padding: 0.2% 5%;
    font-size: large;
    display: inline-block;
}

.menu{
    text-align: center;
    background-color: rgb(255, 255, 0);
}

.menu .menu__lista a{
    color: #000;
    font-size: medium;
    text-decoration: none;
}

.dropdown-menu.show{
    background-color: rgb(255, 255, 0);
}

.ofertas, .nuevos{
    margin-bottom: 100px;
}

.destacadas{
    background-color: rgba(201, 201, 201, 0.76);
    padding: 35px 60px 54px;
    margin-left: 9vw;
    margin-right: 9vw;
}

.ofertas p{
    font-size:x-large;
    margin-bottom: 2%;
    margin-left: 50%;
}

.destacadas p{
    font-size:x-large;
    margin-bottom: 2%;
    margin-left: 43%;
    display:flex;
    flex-direction: column;
}

.nuevos p{
    font-size:x-large;
    margin-bottom: 2%;
    margin-left: 45%;
    margin-top: 100px;
}

.ofertas .fotos__ofertas img{
    height: 400px;
    margin-left: 8%; 
}

.destacadas .fotos__destacadas img{
    margin-left: 10%;
    width: 159px;
}

.fotos__nuevos img{
    width: 100%;
    height: auto;
    margin-left: 13%;
}

.pie{
    margin-top: 50px;
    margin-bottom: 0;
    height: 50%;
    width: 100%;
    background-color: #014a58;
    display: flex;
}

.pie__help{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2% 10%; 
}

.pie__help__p1{
    text-align: center;
}

.pie__help__map, .pie__help__cel, .pie__help__mail{
    width: 5%;
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(263deg) brightness(104%) contrast(98%);
}

.pie__newsletter{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
/*     margin: 2% 10%; */
    width: 30%;
    margin: 2% 3%;
    padding: 0%;
}

.pie__newsletter__p1, .pie__newsletter__p2{
    text-align: center;
}

.pie__newsletter_news{
    width: 100%;
    color: #000;
}

.pie__follow{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 2% 10%;
}

.pie__follow__tw, .pie__follow__fb, .pie__follow__ig{
    width: 10%;
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(263deg) brightness(104%) contrast(98%);
}

.pie__follow__p1{
    text-align: center;
}

.InicioSesion .InicioSesion__p{
    color: #000;
    font-size:xx-large;
    margin-left: 45%;
    margin-bottom: 3%;
}

.InicioSesion .InicioSesion__correo p{
    color: #000;
    font-size: larger;
    margin-left: 25%;
    margin-bottom: 1%;
}


.InicioSesion__mail{
    width: 50%;
    padding: .2%;
    margin-left: 25%;
    color: #000;
}

.InicioSesion .InicioSesion__contraseña p{
    color: #000;
    font-size: larger;
    margin-left: 25%;
    margin-bottom: 1%;
    margin-top: 1.5%;
}

.InicioSesion__pass{
    width: 50%;
    padding: .2%;
    margin-left: 25%;
    color: #000;
}

.InicioSesion__opciones a{
    color: #000;
    display: block;
    font-size: large;
}

.InicioSesion__opciones .InicioSesion__opciones__iniciar{
    margin-top: 3%;
    margin-left: 46%;
    margin-bottom: 3%;
    margin-right: 46%;
    font-size: large;
    background-color: rgb(255, 255, 0);
    height: 50px;
    width: 135px;
    padding: .8% 1%; 
    text-decoration: none;
}

.InicioSesion__opciones .InicioSesion__opciones__olvido{
    margin-top: 3%;
    margin-left: 44.5%;
    margin-bottom: 3%;
    font-size: large;
    text-decoration:underline;
}

.InicioSesion__opciones .InicioSesion__opciones__crear{
    margin-top: 3%;
    margin-left: 46%;
    margin-bottom: 3%;
    margin-right: 46%;
    font-size: large;
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 135px;
    padding: .8% 1%;
    color: #ffffff; 
    text-decoration: none;
}

.OlvidoPass h1{
    color: #000;
    margin-left: 45%;
    margin-bottom: 25px;
}

.OlvidoPass__p1{
    color: #000;
    font-size: larger;
    margin-left: 33%;
    margin-bottom: 50px;
}

.OlvidoPass__p2{
    color: #000;
    font-size: large;
    margin-left: 33%;
}

.OlvidoPass__mail{
    width: 40%;
    height: 25px;
    padding: .2%;
    margin-left: 33%;
    color: #000;
}

.OlvidoPass a{
    color: #000;
    display: block;
    font-size: large;
}

.OlvidoPass__enviar{
    margin-top: 4%;
    margin-left: 48%;
    margin-right: 46%;
    font-size: large;
    background-color: rgb(255, 255, 0);
    height: 30px;
    width: 50px;
    padding: 1% 3%;
}

.CrearCuenta h1{
    color: #000;
    margin-left: 47%;
    margin-bottom: 25px;
}

.CrearCuenta__p1, .CrearCuenta__p2,
.CrearCuenta__p3, .CrearCuenta__p4{
    color: #000;
    font-size: large;
    margin-left: 33%;
    margin-bottom: 10px;
}

.CrearCuenta__nombre, .CrearCuenta__apellido,
.CrearCuenta__mail, .CrearCuenta__pass{
    width: 40%;
    height: 25px;
    padding: .2%;
    margin-left: 33%;
    color: #000;
    margin-bottom: 30px;
}

.CrearCuenta a{
    color: #000;
    display: block;
    font-size: large;
}

.CrearCuenta__crear{
    margin-top: 1%;
    margin-left: 48%;
    margin-right: 46%;
    font-size: large;
    background-color: rgb(255, 255, 0);
    height: 30px;
    width: 40px;
    padding: 1% 3%;
}

.InstrumentosMasVendidos .InstrumentosMasVendidos__guitarras p
{
        font-size:x-large;
        color: #000;
}

.instrumentos .instrumentos__guitarras p{
    color: #000;
    font-size:x-large;
}

.InstrumentosMasVendidos .InstrumentosMasVendidos__baterias p
{
    font-size:x-large;
    color: #000;
}

.instrumentos .instrumentos__baterias p{
    color: #000;
    font-size:x-large;
}

.InstrumentosMasVendidos .InstrumentosMasVendidos__bajos p{
    font-size:x-large;
    margin-bottom: 2%;
    color: #000;
}

.instrumentos .instrumentos__bajos p{
    color: #000;
    font-size:x-large;
}

.instrumentos .instrumentos__guitarras .instrumentos__guitarras__fotos img,
.instrumentos .instrumentos__bajos .instrumentos__bajos__fotos img,
.InstrumentosMasVendidos__guitarras__fotos img,
.InstrumentosMasVendidos__baterias__fotos img,
.InstrumentosMasVendidos__bajos__fotos img
{
    height: 400px;
}

.instrumentos .instrumentos__baterias .instrumentos__baterias__fotos img{
    height: 500px;
}

/* Aplicando Grids*/

.instrumentos__guitarras{
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr  1fr;
/*     margin-bottom: 100px; */
    justify-items: center;
    width: 100%;
    height: auto;
}

.instrumentos__guitarras__fotos:first-child{
    grid-column-start: 1;
    grid-column-end: 5;
}

.instrumentos__baterias{
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr  1fr;
    justify-items: center;
}

.instrumentos__baterias__fotos:first-child{
    grid-column-start: 1;
    grid-column-end: 5;
}

.instrumentos__bajos{
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr  1fr;
/*     margin-bottom: 100px; */
    justify-items: center;
}

.instrumentos__bajos__fotos:first-child{
    grid-column-start: 1;
    grid-column-end: 5;
}

.InstrumentosMasVendidos__guitarras{
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr  1fr;
/*     margin-bottom: 100px; */
    justify-items: center;
}

.InstrumentosMasVendidos__guitarras__fotos:first-child{
    grid-column-start: 1;
    grid-column-end: 5;
}

.InstrumentosMasVendidos__baterias{
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr  1fr;
/*     margin-bottom: 100px; */
    justify-items: center;
}

.InstrumentosMasVendidos__baterias__fotos:first-child{
    grid-column-start: 1;
    grid-column-end: 5;
}

.InstrumentosMasVendidos__bajos{
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr  1fr;
/*     margin-bottom: 100px; */
    justify-items: center;
}

.InstrumentosMasVendidos__bajos__fotos:first-child{
    grid-column-start: 1;
    grid-column-end: 5;
}

.tiendas h1{
    color: #000;
    margin-left: 45%;
    margin-bottom: 50px;
}

.tiendas__p1, .tiendas__p3{
    color: #000;
    font-size: larger;
    margin-left: 7%;
    margin-bottom: 25px;
}

.tiendas__p2{
    color: #000;
    font-size: larger;
    margin-left: 54%;
    margin-bottom: 25px;
}

.tiendas__aragon iframe{
    margin-left: 7%;
    margin-bottom: 50px;
    width: 40vw; 
    height: 65vh;
    border: 0; 
}

.card-body p, .card-body  h5{
    color: #000;
}

.tiendas__americas iframe{
    margin-left: 54%;
    margin-bottom: 50px;
    width: 40vw; 
    height: 65vh;
    border: 0; 
}

.tiendas__oceania iframe{
    margin-left: 7%;
    margin-bottom: 50px;
    width: 40vw; 
    height: 65vh;
    border: 0; 
}

.tiendas__aragon{
    margin-left: 10%;
}

.videos__vid1 iframe{
    margin-left: 7%;
    margin-bottom: 50px;
}

.videos__vid2 iframe{
    margin-left: 54%;
    margin-bottom: 50px;
}

.videos__vid3 iframe{
    margin-left: 7%;
    margin-bottom: 50px;
}

.videos h1{
    color: #000;
    margin-left: 28%;
    margin-bottom: 50px;
}

.nosotros__galeria h1{
    color: #000;
    margin-left: 46.5%;
    margin-bottom: 50px;
}

.galeria__card1 img,
.galeria__card2 img,
.galeria__card3 img{
    width: 35%;
    margin-bottom: 3%;
}

.galeria__card1 h2,
.galeria__card2 h2,
.galeria__card3 h2{
    color: #000;
    display: inline-block;
    position: absolute;
    margin-left: 3%;
    margin-top: 3%;
    z-index: -1;
}

.galeria__card1 p,
.galeria__card2 p,
.galeria__card3 p{
    color: #000;
    display: inline-block;
    position: absolute;
    margin-top: 8%;
    margin-left: 3%;
    margin-right: 4%;
    z-index: -1;
}

.fotos__ofertas__guit1{
    transition: all 2s;
    transition-delay: 0s;
}

.fotos__ofertas__guit1:hover{
    transform: scale(1.2);
}

.fotos__destacadas__ibanez:hover{
    transform: scale(1.3);
}

.fotos__destacadas__tama:hover{
    transform: scale(1.3);
}

.fotos__destacadas__ernie:hover{
    transform: scale(1.3);
}

.fotos__destacadas__jimmy:hover{
    transform: scale(1.3);
}

@media only screen and (max-width: 480px){

    .cabecera{
        /* background-image: url(../Multimedia/imagenes/backg.jpg); */
        background-color: rgb(27, 27, 27);
        display: block;
        position: sticky;
        top: 0;
        margin-bottom: 50px;
    } 
    
    body{
        background-color: #ffffff; 
    }
    
    .logo{
        width: 35%;
        margin: 0;
        padding-left: 35%;
        padding-bottom: 0;
        padding-top: 1%;
        display: block;
    }
    
    .main__index .ofertas p, .main__index .destacadas p, .main__index .nuevos p{
        color: #000;
    }
    
    .search{
        width: 50%;
        padding: .2%;
        margin-top: 4%;
        margin-left: 25%;
        display: block;
        position:relative;
        color: #000;
    }
    
    .car{
        width: 6%;
        filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(263deg) brightness(104%) contrast(98%);
        margin: 3%;
        display: inline-block;
        position:relative;
        margin-left: 90%;
    }
    
    .login{
        font-size: 100%;
        margin-left: 7%;
        margin-top: 4%;
        display: inline-block;
        position: absolute;
    }
    
    .menu li{
        padding: 0.2% 5%;
        font-size: large;
        display: inline-block;
    }
    
    .menu{
        text-align: center;
        background-color: rgb(255, 255, 0);
    }
    
    .menu .menu__lista a{
        color: #000;
        font-size: large;
    }

    .ofertas, .nuevos{
        margin-bottom: 100px;
    }
    
    .destacadas{
        background-color: rgba(201, 201, 201, 0.76);
        padding: 35px 60px 54px;
        margin-left: 9vw;
        margin-right: 9vw;
    }
    
    .ofertas p{
        font-size:x-large;
        margin-bottom: 3%;
        margin-left: 45%;
    }
    
    .destacadas p{
        font-size:x-large;
        margin-bottom: 8%;
        margin-left: 17%;
        display:flex;
        flex-direction: column;
    }
    
    .nuevos p{
        font-size:x-large;
        margin-bottom: 2%;
        margin-left: 33%;
        margin-top: 100px;
    }
    
    .ofertas .fotos__ofertas img{
        height: 300px;
        margin-left: 25%; 
        margin-bottom: 3%;
    }
    
    .destacadas .fotos__destacadas img{
        margin-left: 23%;
        width: 159px;
/*         margin-bottom: 3%; */
    }
    
    .nuevos .fotos__nuevos img{
        height: 300px;
        margin-left: 25%; 
        margin-bottom: 3%;
    }
    
    .pie{
        display: inline-block;
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        height: 100%;
        width: 100%;
        background-color: #014a58;
    }
    
    .pie__help{ 
        margin: 4% 10%; 
    }
    
    .pie__help__p1{
        text-align: center;
    }
    
    .pie__help__map, .pie__help__cel, .pie__help__mail{
        width: 5%;
        filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(263deg) brightness(104%) contrast(98%);
    }
    
    .pie__newsletter{
    /*     margin: 2% 10%; */
        margin: 2% 10%;
        display: inline-block;
        width: 384px;
        height: 92.800;
    }
    
    .pie__newsletter__p1{
        text-align: center;
        display: inline-block;
        margin-left: 35%;
    }

    .pie__newsletter__p2{
        text-align: center;
        display: inline-block;
    }
    
    .pie__newsletter_news{
        width: 75%;
        margin-left: 15%;
        display: block;
        color: #000;
    }
    
    .pie__follow{
        margin: 4% 10%;
    }
    
    .pie__follow__tw, .pie__follow__fb, .pie__follow__ig{
        width: 5%;
        filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(263deg) brightness(104%) contrast(98%);
    }
    
    .pie__follow__p1{
        text-align: center;
    }

    
    .instrumentos .instrumentos__guitarras p,
    .InstrumentosMasVendidos .InstrumentosMasVendidos__guitarras p
    {
        font-size:x-large;
        color: #000;
    }

    .instrumentos .instrumentos__baterias p,
    .InstrumentosMasVendidos .InstrumentosMasVendidos__baterias p
    {
        font-size:x-large;
        color: #000;
    }

    .instrumentos .instrumentos__bajos p,
    .InstrumentosMasVendidos .InstrumentosMasVendidos__bajos p{
        font-size:x-large;
        color: #000;
    }

    .instrumentos .instrumentos__guitarras .instrumentos__guitarras__fotos img,
    .instrumentos .instrumentos__bajos .instrumentos__bajos__fotos img,
    .instrumentos .instrumentos__baterias .instrumentos__baterias__fotos img,
    .InstrumentosMasVendidos__guitarras__fotos img,
    .InstrumentosMasVendidos__baterias__fotos img,
    .InstrumentosMasVendidos__bajos__fotos img
    {
        width: 100%;
        height: auto;
        margin-bottom: 25px;
    }

    
    .InicioSesion .InicioSesion__p{
        color: #000;
        font-size:x-large;
        margin-left: 40%;
        margin-bottom: 6%;
        margin-top: 0;
    }

    .InicioSesion .InicioSesion__correo p{
        color: #000;
        font-size: large;
        margin-left: 25%;
        margin-bottom: 1%;
    }


    .InicioSesion__mail{
        width: 50%;
        padding: .2%;
        margin-left: 25%;
        color: #000;
    }

    .InicioSesion .InicioSesion__contraseña p{
       color: #000;
        font-size: large;
        margin-left: 25%;
        margin-bottom: 1%;
        margin-top: 1.5%;
    }

    .InicioSesion__pass{
        width: 50%;
        padding: .2%;
        margin-left: 25%;
        color: #000;
        margin-bottom: 4%;
    }

    .InicioSesion__opciones a{
        color: #000;
        display: block;
        font-size: medium;
    }

    .InicioSesion__opciones .InicioSesion__opciones__iniciar{
        margin: 4% 46% 3% 40%;
        font-size:medium;
        background-color: rgb(255, 255, 0);
        height: 20px;
        width: 95px;
        padding: 1%; 
    }

    .InicioSesion__opciones .InicioSesion__opciones__olvido{
        margin-top: 3%;
        margin-left: 33.5%;
        margin-bottom: 3%;
        font-size: medium;
        text-decoration:underline;
    }

    .InicioSesion__opciones .InicioSesion__opciones__crear{
        margin: 3% 46% 10% 40%;
        font-size: medium;
        background-color: rgb(0, 0, 0);
        height: 20px;
        width: 95px;
        padding: 1%;
        color: #ffffff; 
    }

    .OlvidoPass h1{
        color: #000;
        margin-left: 27.5%;
        margin-bottom: 10px;
        font-size: x-large;
    }

    .OlvidoPass__p1{
        color: #000;
        font-size: medium;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 30px;
    }

    .OlvidoPass__p2{
        color: #000;
        font-size: medium;
        margin-left: 27%;
    }

    .OlvidoPass__mail{
        width: 45%;
        height: 25px;
        padding: .2%;
        margin-left: 27%;
        color: #000;
    }

    .OlvidoPass a{
        color: #000;
        display: block;
        font-size: medium;
    }   

    .OlvidoPass__enviar{
        margin: 8% 46% 8% 45%;
        font-size:medium;
        background-color: rgb(255, 255, 0);
        height: 20px;
        width: 50px;
        padding: 1%; 
    }

    .CrearCuenta h1{
        color: #000;
        margin-left: 40%;
        margin-bottom: 25px;
        font-size: x-large;
    }

    .CrearCuenta__p1, .CrearCuenta__p2,
    .CrearCuenta__p3, .CrearCuenta__p4{
        color: #000;
        font-size: medium;
        margin-left: 27%;
        margin-bottom: 5px;
    }

    .CrearCuenta__nombre, .CrearCuenta__apellido,
    .CrearCuenta__mail, .CrearCuenta__pass{
        width: 45%;
        height: 25px;
        padding: .2%;
        margin-left: 27%;
        color: #000;
        margin-bottom: 30px;
    }

    .CrearCuenta a{
        color: #000;
        display: block;
        font-size: medium;
        text-align: center;
    }

    .CrearCuenta__crear{
        margin: 4% 46% 10% 45%;
        font-size:medium;
        background-color: rgb(255, 255, 0);
        height: 25px;
        width: 45px;
        padding: 2%; 
    }

    
    .tiendas h1{
        color: #000;
        margin-left: 25%;
        margin-bottom: 50px;
        font-size: x-large;
    }

    .tiendas__p1, 
    .tiendas__p2,
    .tiendas__p3{
        color: #000;
        font-size: large;
        margin-left: 100px;
        margin-bottom: 15px;
    }

    .tiendas__aragon iframe, 
    .tiendas__americas iframe,
    .tiendas__oceania iframe{
        display: inline-block;
        width: auto;
        height: auto;
        margin-left: 100px;
        margin-bottom: 50px;
    }

    .videos__vid1 iframe,
    .videos__vid2 iframe,
    .videos__vid3 iframe{
        display: inline-block;
        width: auto;
        height: auto;
        margin-left: 100px;
        margin-bottom: 50px;
    }

    .videos h1{
        color: #000;
        margin-left: 5%;
        margin-bottom: 50px;
        font-size: x-large;
    }

    .nosotros__galeria h1{
        color: #000;
        margin-left: 43%;
        margin-bottom: 10px;
        font-size: x-large;
    }
    
    .galeria__card1 img,
    .galeria__card2 img,
    .galeria__card3 img{
        width: 45%;
        margin-bottom: 3%;
    }
    
    .galeria__card1 h2,
    .galeria__card2 h2,
    .galeria__card3 h2{
        color: #000;
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 3%;
        z-index: -1;
        font-size: medium;
    }
    
    .galeria__card1 p,
    .galeria__card2 p,
    .galeria__card3 p{
        color: #000;
        margin-top: 15%;
        margin-left: 3%;
        margin-right: 4%;
        z-index: -1;
        font-size: small;
    }
}

/* Animaciones  */

.animacion__ofertas{
    margin-top: 100px;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.card__ofertas{
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
}

.card__ofertas .circle__ofertas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card__ofertas .circle__ofertas::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:#d83133;
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.card__ofertas:hover .circle__ofertas:before{
    background:#000000;
    clip-path: circle(400px at center);
}

.card__ofertas img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
}

.card__ofertas:hover img{
    left: 72%;
    height: 500px;
}

.card__ofertas .content__ofertas{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.25s;
    visibility: hidden;
}

.card__ofertas:hover .content__ofertas{
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card__ofertas .content__ofertas h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.9em;
    line-height: 1em;
    margin-bottom: 10%;
}

.card__ofertas .content__ofertas p{
    color: #fff;
    font-size: 1em;
    margin: 0;
}
