@import '../base/_extends.scss';

.InicioSesion .InicioSesion__p{
    color: #000;
    font-size:xx-large;
    margin-left: 45%;
    margin-bottom: 3%;
}

.InicioSesion .InicioSesion__correo p{
    color: #000;
    font-size: larger;
    margin-left: 25%;
    margin-bottom: 1%;
}


.InicioSesion__mail{
    width: 50%;
    padding: .2%;
    margin-left: 25%;
    color: #000;
}

.InicioSesion .InicioSesion__contraseña p{
    color: #000;
    font-size: larger;
    margin-left: 25%;
    margin-bottom: 1%;
    margin-top: 1.5%;
}

.InicioSesion__pass{
    width: 50%;
    padding: .2%;
    margin-left: 25%;
    color: #000;
}

.InicioSesion__opciones a{
    color: #000;
    display: block;
    font-size: large;
}

.InicioSesion__opciones .InicioSesion__opciones__iniciar{
@extend %BtnAmarillo
}

.InicioSesion__opciones .InicioSesion__opciones__olvido{
    margin-top: 3%;
    margin-left: 44.5%;
    margin-bottom: 3%;
    font-size: large;
    text-decoration:underline;
}

.InicioSesion__opciones .InicioSesion__opciones__crear{
    @extend %BtnNegro;
}

.OlvidoPass h1{
    color: #000;
    margin-left: 40%;
    margin-bottom: 25px;
}

.OlvidoPass__p1{
    color: #000;
    font-size: larger;
    margin-left: 33%;
    margin-bottom: 50px;
}

.OlvidoPass__p2{
    color: #000;
    font-size: large;
    margin-left: 33%;
}

.OlvidoPass__mail{
    width: 40%;
    height: 25px;
    padding: .2%;
    margin-left: 33%;
    color: #000;
}

.OlvidoPass a{
    color: #000;
    display: block;
    font-size: large;
}

.OlvidoPass__enviar{
   @extend %BtnAmarillo;
}

.CrearCuenta h1{
    color: #000;
    margin-left: 44%;
    margin-bottom: 25px;
}

.CrearCuenta__p1, .CrearCuenta__p2,
.CrearCuenta__p3, .CrearCuenta__p4{
    color: #000;
    font-size: large;
    margin-left: 33%;
    margin-bottom: 10px;
}

.CrearCuenta__nombre, .CrearCuenta__apellido,
.CrearCuenta__mail, .CrearCuenta__pass{
    width: 40%;
    height: 25px;
    padding: .2%;
    margin-left: 33%;
    color: #000;
    margin-bottom: 30px;
}

.CrearCuenta a{
    color: #000;
    display: block;
    font-size: large;
}

.CrearCuenta__crear{
    @extend %BtnAmarillo;
}