@import '../base/_mapas.scss';

.nosotros__galeria h1{
    color: #000;
    margin-left: 46.5%;
    margin-bottom: 50px;
}

.galeria__card1 img,
.galeria__card2 img,
.galeria__card3 img{
    width: 35%;
    margin-bottom: 3%;
}

.galeria__card1 h2,
.galeria__card2 h2,
.galeria__card3 h2{
    color: map-get($nosotrosH2, color);
    display: map-get($nosotrosH2, display);
    position: map-get($nosotrosH2, position);
    margin-left: map-get($nosotrosH2, MarginL);
    margin-top: map-get($nosotrosH2, MarginT);
    z-index: map-get($nosotrosH2, ZIndex);
}

.galeria__card1 p,
.galeria__card2 p,
.galeria__card3 p{
    color: map-get($nosotrosP, color);
    display: map-get($nosotrosP, display);
    position: map-get($nosotrosP, position);
    margin-top: map-get($nosotrosP, MarginT);
    margin-left: map-get($nosotrosP, MarginL);
    margin-right: map-get($nosotrosP, MarginR);
    z-index: map-get($nosotrosP, ZIndex);
}
