@import '../base/_mixins.scss';

.tiendas h1{
    color: #000;
    margin-left: 45%;
    margin-bottom: 50px;
}

.tiendas__p1, .tiendas__p3{
    color: #000;
    font-size: larger;
    margin-left: 7%;
    margin-bottom: 25px;
}

.tiendas__p2{
    color: #000;
    font-size: larger;
    margin-left: 54%;
    margin-bottom: 25px;
}

.tiendas__aragon iframe{
    @include tiendas(7%, 50px, 40vw, 65vh, 0)
}

.card-body p, .card-body  h5{
    color: #000;
}

.tiendas__americas iframe{
    @include tiendas(54%, 50px, 40vw, 65vh, 0)
}

.tiendas__oceania iframe{
    @include tiendas(7%, 50px, 40vw, 65vh, 0)
}

.tiendas__aragon{
    margin-left: 10%;
}