.videos__vid1 iframe{
    margin-left: 7%;
    margin-bottom: 50px;
}

.videos__vid2 iframe{
    margin-left: 54%;
    margin-bottom: 50px;
}

.videos__vid3 iframe{
    margin-left: 7%;
    margin-bottom: 50px;
}

.videos h1{
    color: #000;
    margin-left: 28%;
    margin-bottom: 50px;
}

.videos__car__item{
    margin-left: 27%;
    margin-bottom: 5%;
}

.videos__car__item iframe{
    width: 50vw;
    height: 50vh;
}