%BtnAmarillo{
    margin-top: 3%;
    margin-left: 46%;
    margin-bottom: 3%;
    margin-right: 46%;
    font-size: large;
    background-color: rgb(255, 255, 0);
    height: 50px;
    width: 135px;
    padding: 1% 1%; 
    text-decoration: none;
    text-align: center;
}

%BtnNegro{
    margin-top: 3%;
    margin-left: 46%;
    margin-bottom: 3%;
    margin-right: 46%;
    font-size: large;
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 135px;
    padding: 0.8% 1%;
    color: #ffffff;
    text-decoration: none;
}