$nosotrosH2:(
    color: #000,
    display: inline-block,
    position: absolute,
    MarginL: 3%,
    MarginT: 3%,
    ZIndex: -1,
);

$nosotrosP: (
    color: #000,
    display: inline-block,
    position: absolute,
    MarginT: 8%,
    MarginL: 3%,
    MarginR: 4%,
    ZIndex: -1,
);